<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppSettings.plist
   RemoteConfigExample

   Created by Krishna Shrestha on 12/19/18.
   Copyright (c) 2018 Krishna Shrestha. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>app_settings</key>
        <string></string>
    </dict>
</plist>

